@font-face {
    font-family: 'Outfit';
    src: url('./assets/Outfit/Outfit-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-stretch: 50% 200%;
}

body {
    font-family: 'Outfit';
    justify-content: center;
    text-align: center;
    background-image: url('./assets/background.jpg');
    /* background-size: contain;
    background-repeat: no-repeat; */
}

body.background-size {
    background-size: 100vw 100vh;
    /* min-width: 100vw;
    min-height: 100vw; */
}
  
h1, h2 {
    font-family: 'Outfit';
    color: #ffffff;
}
  
#options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.disabled {
    background-color: #8C8C8C;
    opacity: 0.3;
}

button {
    background-color: rgb(140, 140, 140, 0.3);
    font-family: 'Outfit';
    color: #ffffff;
    border: 2px solid #8C8C8C;
    border-radius: 4px;
    padding: 30px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 40%;
    margin-top: 30px;
}

button:hover {
    background-color: #996BF9;
    opacity: 1.0;
    transition: 0.2s;
}

button:focus {
    outline-color: transparent;
    outline-style:solid;
    background-color: #996BF9;
}

button:disabled {
    opacity: 0.3;
}

#voteButton, #voteAgain {
    background-color: #ffffff;
    color: #996BF9;
}

#voteButton:hover, #voteAgain:hover {
    color: #ffffff;
    background-color: #996BF9;
    transition: 0.2s;
}

#results {
    margin-bottom: 10px;
}
  
#dizplaiLogo {
    margin-top: 50px;
    width: 250px;
}

.result-item {
    background-color: rgb(140, 140, 140, 0.3);
    color: #ffffff;
    position: block;
    border: 2px solid #8C8C8C;
    border-radius: 4px;
    padding: 30px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 38%;
    margin-top: 30px;
    color: #ffffff;
}

 